// colors
$clr1: #aed13b;
$clr2: #69BD42;
$clr3: #39ff92;
$clr4: #05c27a;
$clr5: #00745F;
$clr6: #FCFCFC;
$clr7: #292727;
// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;