.app-header {
    // background-image: url("https://ewscripps.brightspotcdn.com/dims4/default/61272c3/2147483647/strip/true/crop/640x360+0+34/resize/1280x720!/quality/90/?url=https%3A%2F%2Fmediaassets.10news.com%2Fphoto%2F2018%2F10%2F30%2Fvolunteer_900x600_1540924954704_101792658_ver1.0_640_480.jpg");
    // background-position: center;
    // height: 500px;
    // height          : 70px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    background-color: $clr1;
    // margin-bottom   : 10px;
    color: $clr6;
    .logo {
        width: 220px;
        display: inline-block;
        align-items: center;
        position: relative;
        .logo-img {
            position: absolute;
            top: 0px;
        }
        >*:hover>* {
            // box-shadow: inset 0 -3px 0 $clr5;
            background-color: rgba(255, 255, 255, 0.418);
        }
    }
    .user-menu .el-submenu__title>span {
        font-size: 2rem;
    }
    .el-menu--horizontal>.el-menu-item {
        border-bottom: none;
    }
    .el-menu.el-menu--horizontal {
        border-bottom: none;
        background-color: inherit;
        color: $clr6;
        .el-menu-item,
        &>.el-submenu .el-submenu__title,
        & * {
            color: inherit;
            &:hover {
                background-color: inherit;
                color: $clr6;
            }
        }
        >*:hover {
            box-shadow: inset 0 -3px 0 $clr5;
        }
    }
    .el-menu {
        background-color: #ffffff00;
    }
}

.home-page .app-header {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    &.scrolly {
        background-color: $clr1;
        // background-color: #9b247dee;
        background-image: url('/src/assets/img/hero.jpg');
        transition: 0.5s;
        // &.scrolly2 {
        //     box-shadow: 0 2px 6px #0000005c;
        //     transition: 0.1s;
        // }
    }
}