.card-preview {
    cursor: pointer;
    border-radius: 8px;
    transition: .4s;
    &:hover {
        box-shadow: 0 2px 3px #b9b9b9;
    }
    .img-squer-container {
        width: 100%;
        padding-top: 70%;
        position: relative;
        margin-bottom: 8px;
        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .preview-card-avatar {
            width: 40px;
            height: 40px;
            z-index: 999;
            position: absolute;
            bottom: 0;
            background-color: #fff;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-top-right-radius: 7px;
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            &:hover {
                box-shadow: inset 20px 20px 20px #ffffff57;
            }
        }
    }
}

.preview-details {
    height: 100%;
    margin-top: -5px;
    // padding   : 0.5rem;
    .card-title {
        font-size: 1.2rem;
        line-height: 1.2em;
    }
    .card-desc {
        color: $gray3;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .country {
        font-weight: bold;
        font-size: 0.8rem;
        margin-right: 0.5em;
    }
    .time {
        text-align: right;
        font-size: 0.8rem;
    }
}